.container {
    padding: 20px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 2px 5px rgba(255, 255, 255, 0.05);
    text-align: center;
    width: var(--modal-md-width);
}
.title {
    color: var(--text-primary);
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}
.mnemonicDisplay {
    padding: 20px;
    background-color: var(--background-primary);
    border: 1px solid var(--text-primary);
    border-radius: 4px;
    margin-bottom: 20px;
    font-size: 16px;
    color: var(--text-primary);
    word-break: break-word;
}
