.container {
    padding: 20px;
    background-color: var(--background-secondary);
    border-radius: 8px;
    max-width: 400px;
    margin: 20px auto;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 2px 5px rgba(255, 255, 255, 0.05);
    text-align: center;
}
.buttonsClassName {
    display: block;
    width: 100%;
    margin-bottom: 1rem;
}
.title {
    color: var(--text-primary);
    margin-bottom: 2rem;
    font-size: 1.5rem;
}
