.container{
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--background-secondary);
    border-radius: 0.5rem;
    min-width: 300px;
    min-height: 400px;
}
.content{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:0.5rem;
    flex:1;
}
.tabsContainer{
    display: flex;
    gap:10px;
}
.tabWrapper{
    color:#616161;
    border-bottom:1px solid #616161;    
}
.open{
    color:#fff;
    border-color:#fff;
}
.selectClassName{
    font-size: 1rem;  
    width: 100%;
}
.sendForm{
    display: flex;
    flex-direction: column;
    gap:0.75rem
}
.trBtn{
    width: 100%;
}
.summaryContainer{
    display: flex;
    flex-direction: column;
    gap:0.75rem
}
.successWrapper{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.successMessage{
    color:var(--status-success);
}