.headerZone {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.title {
    color: var(--text-primary);
    font-size: 1.5rem;
}
.iconWrapper {
    border-radius: 100%;
    padding: 0.5rem;
    display: flex;
    cursor: pointer;
}
.iconWrapper:hover {
    background-color: var(--aztec-button-color-secondary-50-hover);
}
.iconWrapper:hover .closeIcon {
    fill: var(--aztec-button-color);
}
.closeIcon {
    width: 1rem;
    height: 1rem;
    fill: var(--text-primary);
    cursor: pointer;
}
