.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.5rem;
}
.label {
    color: var(--text-primary);
    font-size: 0.75rem;
}
.selectBox {
    background-color: var(--background-primary);
    border: 1px solid var(--input-border-color);
    border-radius: 8px;
    padding: 0.5rem;
    color: var(--text-primary);
    cursor: pointer;
    font-size: 1rem;
}
.selectBox option {
    cursor: pointer;
}
.selectBox:active {
    border-color: var(--aztec-button-color);
}
.selectBox:focus {
    border-color: var(--aztec-button-color);
}
.error {
    border-color: var(--status-error);
}
.errorMessage {
    color: var(--status-error);
    margin: 0;
}
