.container {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background-color: var(--background-secondary);
    border-radius: 0.5rem;
    width: var(--modal-md-width);
    min-height: 400px;
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1), 0 2px 5px rgba(255, 255, 255, 0.05);
}
.list {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
