.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
.secondary {
    background-color: var(--aztec-button-color-secondary);
    color: var(--text-primary);
}
.secondary:hover {
    background-color: var(--aztec-button-color-secondary-hover);
}
.primary {
    background-color: var(--aztec-button-color);
    color: var(--text-primary);
}
.primary:hover {
    background-color: var(--aztec-button-color-hover);
}
.btn:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-button);
}
.btn:hover:disabled {
    background-color: var(--disabled-button);
}
