.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 1.5rem;
    left: 1.5rem;
    right: 1.5rem;
    border: 1px solid var(--input-border-color);
    background-color: var(--background-secondary);
    border-radius: 1rem;
    padding: 0.5rem 0;
}
.itemContainer {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;
    align-items: center;
    cursor: pointer;
}
.iconWrapper {
    border-radius: 50%;
    padding: 0.25rem;
    background-color: var(--aztec-button-color-secondary-50);
    cursor: pointer;
}
.iconWrapper:hover {
    background-color: var(--aztec-button-color-secondary-50-hover);
}
.iconWrapper svg {
    width: 0.75rem;
    height: 0.75rem;
    fill: var(--aztec-button-color);
}
